<div class="body-background">

<h1 class="welcome">Welcome</h1>

<div class="home-btn btn-group">
<%= button_to "FAFSA", "https://studentaid.gov/h/apply-for-aid/fafsa", :method => "get" %>
</div>

<div class="home-btn btn-group">
<%= button_to "Message Board", messages_path, :method => "get" %>
</div>

</div>